# python cache
**/__pycache__/

# pytest cache
**/.pytest_cache/

# coverage data
**/.coverage

# ruff cache
**/.ruff_cache/

# flask
**/instance/
**/.webassets-cache

# env files
**/.env

# python packages
**/.venv

# node packages
**/node_modules/

# terraform
**/.terraform/*
*.tfoverride
*.tfstate
*.tfstate.backup

# mac os
**/.DS_Store

# build artifacts
**/src.zip
