<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive Totals</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="loading-text">
        Fetching data...
    </div>
    <div id="error-text">Failed to fetch data :(</div>
    <div id="spinner" class="spinner"></div>
    <div id="chart"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const loadingElement = document.getElementById('loading');
            fetch('/api/get_data?model=hourly&group_by=archive') // change me when I go into production!
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    // Remove the spinner and loading text once data is received
                    document.getElementById('spinner').style.display = 'none';
                    document.getElementById('loading-text').style.display = 'none';

                    function getColorMap(archives) {
                        const colors = [
                            '#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd',
                            '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf'
                        ];
                        const archiveSet = [...new Set(archives)];
                        const colorMap = {};
                        archiveSet.forEach((archive, i) => {
                            colorMap[archive] = colors[i % colors.length];
                        });
                        return colorMap;
                    }

                    const archives = data.map(d => d.archive);
                    const totals = data.map(d => d.data);
                    const colorMap = getColorMap(archives);
                    const colors = archives.map(archive => colorMap[archive]);

                    const trace = {
                        type: 'bar',
                        y: archives, // Y-axis should have archive names for horizontal bars
                        x: totals, // X-axis has download counts
                        text: archives.map((archive, i) => `${archive}: ${totals[i]} Downloads`),
                        hoverinfo: 'text',
                        orientation: 'h', // Make it horizontal
                        marker: { color: colors }
                    };

                    const layout = {
                        title: 'Total Downloads by Archive since March 2023',
                        xaxis: { title: "Downloads" },
                        yaxis: { title: "Archive", automargin: true }
                    };

                    Plotly.newPlot('chart', [trace], layout);
                })
                .catch(error => {
                    // Hide loading indicators and show error message if the fetch fails
                    document.getElementById('spinner').style.display = 'none';
                    document.getElementById('loading-text').style.display = 'none';
                    document.getElementById('error-text').style.display = 'block';
                    console.error('There was a problem with the fetch operation:', error);
                    console.error('There was a problem with the fetch operation:', error);
                })
        });
    </script>
</body>
</html>
