<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads by Country</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="loading-text">
        Fetching data...
    </div>
    <div id="error-text">Failed to fetch data :(</div>
    <div id="spinner" class="spinner"></div>
    
    <div id="chart"></div>
    <script type="text/javascript">
        fetch('/api/get_data?model=hourly&group_by=country') // change me when I go into production!
            .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
            .then(data => {
                const countries = data.map(d => d.country);
                const totals = data.map(d => d.data);
                
                const trace = {
                    type: 'choropleth',
                    geojson:{type: "polygon"},
                    locations: countries,
                    locationmode: 'country names',
                    z: totals,
                    text: countries.map((country, i) => `${country}: ${totals[i]} Downloads`),
                    hoverinfo: 'text',
                    //color: totals,
                    colorscale: [
                                [0, '#FFD700'],
                                [0.125, '#FFC300'],
                                [0.25, '#FFB700'],
                                [0.375, '#FFAD00'],
                                [0.5, '#FFA000'],
                                [0.625, '#FF9900'],
                                [0.75, '#FF8C00'],
                                [0.875, '#FF8400'],
                                [1, '#FF7900']
                            ],
                    colorbar: {
                        title: 'Downloads',
                    },
                };

                const layout = {
                    title: 'Total Downloads by Country Since March 2023',
                    geo: {
                        showocean: true,
                        oceancolor: 'rgb(6,100,115)',
                        showframe: false,
                        projection: {
                            type: 'robinson'
                        },
                    },
                };

                // Remove the spinner and loading text once data is received and parsed
                document.getElementById('spinner').style.display = 'none';
                document.getElementById('loading-text').style.display = 'none';

                Plotly.react('chart', [trace], layout, {showLink: false});
            })
            .catch(error => {
                // Hide loading indicators and show error message if the fetch fails
                document.getElementById('spinner').style.display = 'none';
                document.getElementById('loading-text').style.display = 'none';
                document.getElementById('error-text').style.display = 'block';
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</body>
</html>
