<!DOCTYPE html>
<html>

<head>
  <title>Backend Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="header">
    <h1>Stats demo home</h1>
  </div>

  <div class="container">
    <div class="gallery-header">
      <h2>Backend Graph Home</h2>
      <p>Backend no nonsense graph checks.</p>
    </div>

    <div class="image-gallery">
      <div class="dropdown">
        <h3>Geographical graphs</h3>
        <img src="{{ url_for('static', filename='images/geoGraphs.jpg') }}" alt="GeoGraphs">
        <div class="dropdown-content">
          <a href="{{ url_for('graph_routes.render_downloads_by_country') }}">Total downloads by Country</a><br/>
          <a href="#">To be implemented</a>
          <a href="#">To be implemented</a>
        </div>
      </div>
      <div class="dropdown">
        <h3>Global statistics</h3>
        <img src="{{ url_for('static', filename='images/globalGraphs.jpg') }}" alt="GlobalGraphs">
        <div class="dropdown-content">
          <a href="{{ url_for('graph_routes.render_hourly_usage') }}">Global Hourly Usage Graph</a><br/>
          <a href="{{ url_for('graph_routes.render_monthly_downloads') }}">Monthly Downloads Graph</a><br/>
          <a href="#">To be implemented</a>
        </div>
      </div>
      <div class="dropdown">
        <h3>Graphs by Archive/Categories</h3>
        <img src="{{ url_for('static', filename='images/sectionedGraphs.jpg') }}" alt="SectionedGraphs">
        <div class="dropdown-content">
          <a href="{{ url_for('graph_routes.render_downloads_by_category') }}">Total Downloads by Category</a><br/>
          <a href="{{ url_for('graph_routes.render_downloads_by_archive') }}">Total Downloads by Archive</a><br/>
          <a href="{{ url_for('graph_routes.render_archive_areagraph') }}">Archive Areagraph</a><br/>
          <a href="{{ url_for('graph_routes.render_category_areagraph') }}">Category AreaGraph</a><br/>
        </div>
      </div>
    </div>

    <div class="list">
      <p>Test JSON return results here:</p>
      <a id="api-downloads-by-hour" href="#">Get downloads by Hour</a>
      <a id="api-downloads-by-country" href="#">Get downloads by Country</a>
      <a id="api-downloads-by-archive" href="#">Get downloads by Archive</a>
      <a id="api-downloads-by-category" href="#">Get downloads by Category</a>
      <a id="api-triple-arg" href="#">Get downloads by each Category and their Archive, by year (This may take a while.)</a>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var baseUrl = window.location.origin;
      document.getElementById("api-downloads-by-hour").href = baseUrl + "/api/get_data?model=hourly&group_by=start_dttm";
      document.getElementById("api-downloads-by-country").href = baseUrl + "/api/get_data?model=hourly&group_by=country";
      document.getElementById("api-downloads-by-archive").href = baseUrl + "/api/get_data?model=hourly&group_by=archive";
      document.getElementById("api-downloads-by-category").href = baseUrl + "/api/get_data?model=hourly&group_by=category";
      document.getElementById("api-triple-arg").href = baseUrl + "/api/get_data?model=hourly&group_by=archive&second_group_by=category&time_group=year";
    });
  </script>
</body>

</html>

