/* static/loading.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #b31b1b;
  color: white;
  display: flex;
  align-items: center;
}

.header img {
  height: 100px;
  margin-left: 20px;
  margin-right: 20px; 
  object-fit: contain; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.gallery-header {
  text-align: center;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  gap: 100px;
}

.image-gallery .dropdown {
  position: relative;
}

.image-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s;
}

.image-gallery img:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ddd;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown h3 {
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.list {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  text-align: center;
}

.list a {
  display: block;
  margin-bottom: 5px;
  color: #007bff;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

#map {
    width: 100%;
    height: 600px;
    display: none; /* Hide map until data is loaded */
  }
  
/* Spinner CSS */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px; /* centers the spinner */
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Text styles */
#loading-text {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  z-index: 999;
}

#error-text {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #e74c3c;
  z-index: 999;
  display: none; /* Hide error text initially */
}