functions-framework==3.*
google-cloud-logging
sqlalchemy>=2.0.26
stats-entities @ git+https://github.com/arXiv/stats.git@main#subdirectory=stats-entities
fastly==12.*
pydantic==2.*
pymysql>=1.1.0
arxiv-functions @ git+https://github.com/arXiv/arxiv-base.git@develop#subdirectory=arxiv-functions
pytest
pytest-cov
ruff