functions-framework==3.*
google-cloud-logging
sqlalchemy>=2.0.26
stats-entities @ git+https://github.com/arXiv/stats.git@main#subdirectory=stats-entities
fastly==12.*
pydantic==2.*
arxiv-functions @ git+https://github.com/arXiv/arxiv-base.git@master#subdirectory=arxiv-functions
pymysql>=1.1.0