<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads by Category</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #chart {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="chart"></div>

    <script>
        fetch('/api/')
            .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
            .then(data => {
                function formatISOToMonthYear(isoString) {
                        const date = new Date(isoString);
                        const options = { year: 'numeric', month: 'long' };
                        return date.toLocaleDateString('en-US', options);
                    }

                const formattedMonths = data.month.map(formatISOToMonthYear);
                const categories = data.map(d => d.category);
                const totals = data.map(d => d.total_primary_count);

                const trace = {
                    type: 'line',

                    text: "a",
                    hoverinfo: 'text',
                    colorscale: [
                                [0, '#FFD700'],
                                [0.125, '#FFC300'],
                                [0.25, '#FFB700'],
                                [0.375, '#FFAD00'],
                                [0.5, '#FFA000'],
                                [0.625, '#FF9900'],
                                [0.75, '#FF8C00'],
                                [0.875, '#FF8400'],
                                [1, '#FF7900']
                            ],
                    colorbar: {
                        title: 'Downloads',
                    },
                };

                const layout = {
                    title: 'Total Downloads by Country',
                    xaxis:{
                        title: "Date"
                    },
                    yaxis:{
                        title: "Downloads"
                    }
                };

                Plotly.newPlot('chart', [trace], layout);
            })
            .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</body>
</html>
