<!DOCTYPE html>
<html>

<head>
  <title>Redirector</title>
</head>

<body>
  <h3>
    Simple redirector page.
  </h3>
  <p>Global Graphs:<br/>
    <a href="{{ url_for('main.render_hourly_usage') }}">Hourly Usage Graph</a><br/>
  </p>
  <p>Archive/Category Graphs:<br/>
    <a href="{{ url_for('main.render_downloads_by_category') }}">Downloads by Category</a><br/>
  </p>
  <p>Geomaps:<br/>
    <a href="{{ url_for('main.render_downloads_by_country') }}">Downloads by Country</a><br/>
  </p>
  <p>Test real database fetch API here:<br/>
    <a id="api-downloads-by-hour" href="#">Get downloads by Hour</a><br/>
    <a id="api-downloads-by-country" href="#">Get downloads by Country</a><br/>
    <a id="api-downloads-by-archive" href="#">Get downloads by Archive</a><br/>
    <a id="api-downloads-by-category" href="#">Get downloads by Category</a><br/>

  </p>
  <p>Am I logged in?:<br/>
    <a id="logged-in-status" href="#">Click me and find out</a><br/>
  </p>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var baseUrl = window.location.origin;
      document.getElementById("api-downloads-by-hour").href = baseUrl + "/api/get_hourly_primary_count";
      document.getElementById("api-downloads-by-country").href = baseUrl + "/api/get_primary_count_by_country";
      document.getElementById("api-downloads-by-archive").href = baseUrl +"/api/get_primary_count_by_archive";
      document.getElementById("api-downloads-by-category").href = baseUrl + "/api/get_primary_count_by_category";
      document.getElementById("logged-in-status").href = baseUrl + "/api/auth/status";
    });
  </script>
</body>

</html>