<!DOCTYPE html>
<html>

<head>
  <title>Redirector</title>
</head>

<body>
  <h3>
    Simple redirector page.
  </h3>
  <p>Click the links to go the graphs directly:<br/>
    <a href="http://127.0.0.1:5000/hourly_usage" target="_blank">hourly usage graph</a><br/>
    <a href="http://127.0.0.1:5000/monthly_downloads" target="_blank">monthly downloads graph</a><br/>
    <a href="http://127.0.0.1:5000/monthly_submissions" target="_blank">monthly submissions graph</a>
  </p>
  <p>Or, test the API results here::<br/>
    <a href="http://127.0.0.1:5000/api/get_hourly_usage" target="_blank">hourly usage fetch</a><br/>
    <a href="http://127.0.0.1:5000/api/get_monthly_downloads" target="_blank">monthly downloads fetch</a><br/>
    <a href="http://127.0.0.1:5000/api/get_monthly_submissions" target="_blank">monthly submissions fetch</a>
  </p>
</body>

</html>