<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Monthly Submission</title>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.0.0.min.js"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="center-container">
        <div id="myplot-submissions"></div>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            fetch(window.location.origin + "/api/get_monthly_submissions")
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const barData = [['Month', 'Submissions']];
                    for (let i = 0; i < data.month.length; i++) {
                        barData.push([new Date(data.month[i]).toISOString().substring(0, 7), data.submissions[i]]);
                    }

                    function formatISOToMonthYear(isoString) {
                        const date = new Date(isoString);
                        const options = { year: 'numeric', month: 'long' };
                        return date.toLocaleDateString('en-US', options);
                    }

                    const source = new Bokeh.ColumnDataSource({
                        data: {
                            month: data.month.map(date => new Date(date).toISOString().substring(0, 7)),
                            formatted_month: data.month.map(formatISOToMonthYear),
                            submissions: data.submissions
                        }
                    });

                    const colorMapper = new Bokeh.LinearColorMapper({
                        palette: ['#FFD700', '#FFC200', '#FFAD00', '#FF9900', '#FF8400'], 
                    });

                    const p = new Bokeh.Plotting.figure({
                        width: 1000,
                        height: 500,
                        title: "Monthly Submissions",
                        x_axis_label: 'Month',
                        y_axis_label: 'Submissions',
                        x_range: barData.slice(1).map(item => item[0]),
                        tools: "pan,wheel_zoom,box_zoom,reset,save"
                    });

                    p.vbar({
                        x: { field: 'month' },
                        top: { field: 'submissions' },
                        width: 0.9,
                        source: source,
                        fill_color: { field: 'submissions', transform: colorMapper },
                        line_color: 'none'  
                    });

                    // Remove grid lines
                    p.xgrid.visible = false;
                    p.ygrid.visible = false;

                    // Add hover tool
                    const hover = new Bokeh.HoverTool({
                        tooltips: [
                            ["Month", "@formatted_month"],
                            ["Submissions", "@submissions"]
                        ]
                    });
                    p.add_tools(hover);


                    // Disable scientific notation on y-axis
                    p.yaxis.formatter = new Bokeh.BasicTickFormatter();

                    // Set x-axis to only appear every 5 years.
                    const hardTicks = ['1991-07', '1995-01', '2000-01', '2005-01','2010-01', '2015-01', '2020-01'];
                    p.xaxis.ticker = new Bokeh.FixedTicker({ ticks: hardTicks });
                    
                    

                    Bokeh.Plotting.show(p, document.getElementById('myplot-submissions'));
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });
    </script>
</body>
</html>
